body{
background-color:#42f4f1;

}
h1{
margin:60px;
font-size:40px;
background-color:white;
}
p{
color:white;}
form{
font-size:20px;
color:white;
}
a{
text-decoration:none;
}
li{
list-style-type:none;
}